In [ ]:
# !pip install pandas

Collecting pandas

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached pandas-3.0.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\glayd\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\glayd\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting tzdata (from pandas)
  Using cached tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\glayd\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp313-cp313-win_amd64.whl (9.7 MB)
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   --- ------------------------------------ 0.8/9.7 MB 7.5 MB/s eta 0:00:02
   ---------- ----------------------------- 2.6/9.7 MB 7.8 MB/s eta 0:00:01
   ------------------- -------------------- 4.7/9.7 MB 8.7 MB/s eta 0:00:01
   ------------------------------ --------- 7.3/9.7 MB 9.9 MB/s eta 0:00:01
   ---------------------------------------- 9.7/9.7 MB 10.8 MB/s eta 0:00:00
Using cached tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-3.0.0 tzdata-2025.3

In [3]:
import sqlite3
import pandas as pd
from pathlib import Path

# Caminho do seu banco de dados (confirme se √© este mesmo)
db_path = Path(r"G:\Meu Drive\4. Registros\Glaydson\Or√ßamento\db\finance_abs.db")

if not db_path.exists():
    print(f"‚ùå Erro: Banco de dados n√£o encontrado em: {db_path}")
    print("Verifique se o Google Drive est√° conectado ou ajuste o caminho.")
else:
    print(f"‚úÖ Banco encontrado: {db_path}")
    conn = sqlite3.connect(db_path)

‚úÖ Banco encontrado: G:\Meu Drive\4. Registros\Glaydson\Or√ßamento\db\finance_abs.db

In [4]:
# Busca tudo que veio de arquivos CSV (Conta Corrente)
query_check = "SELECT * FROM transactions WHERE source LIKE '%OUROCARD%'"
df_check = pd.read_sql_query(query_check, conn)

print(f"üìâ Total de lan√ßamentos de Conta Corrente encontrados: {len(df_check)}")

if not df_check.empty:
    print("\nüîç Amostra dos dados que SER√ÉO APAGADOS:")
    display(df_check.head())
    
    # Verifica se existem dados de outras fontes (para garantir que n√£o vamos zerar o banco todo)
    query_others = "SELECT source, count(*) as qtd FROM transactions WHERE source NOT LIKE '%CSV%' GROUP BY source"
    df_others = pd.read_sql_query(query_others, conn)
    print("\nüõ°Ô∏è Dados que SER√ÉO PRESERVADOS (N√£o ser√£o apagados):")
    display(df_others)
else:
    print("Nenhum lan√ßamento de Conta Corrente encontrado.")

üìâ Total de lan√ßamentos de Conta Corrente encontrados: 1879

üîç Amostra dos dados que SER√ÉO APAGADOS:

,hash_id,date,description,amount,source,category,is_manual
0,cdadd87af5ba39dbea65f93c0bce17aa,2024-03-04,PGTO. COBRANCA 4766 000000200 200300,-3617.11,Card: OUROCARD_ELO_NANQUIM-Abr_24.txt,Cart√£o de Cr√©dito,0
1,0231444f384fabdb0dbdce7ba62f5dac,2024-03-02,CIRANDA KIDS BRASILIA BR,-160.00,Card: OUROCARD_ELO_NANQUIM-Abr_24.txt,Cart√£o de Cr√©dito,0
2,a342e2c156b8c0a91725a76f2ab7b222,2024-03-16,CINEMARK TAGUATINGA BRASILIA BR,-102.50,Card: OUROCARD_ELO_NANQUIM-Abr_24.txt,Cart√£o de Cr√©dito,0
3,847bc5156e4769dfa335421f327e4e6f,2024-03-24,CINEMARK TAGUATINGA BRASILIA BR,-70.00,Card: OUROCARD_ELO_NANQUIM-Abr_24.txt,Cart√£o de Cr√©dito,0
4,8f5e96c4ce6fd7f77b87022a59fbf9df,2024-03-02,LUMAFAST RESTAURANTES BRASILIA BR,-36.50,Card: OUROCARD_ELO_NANQUIM-Abr_24.txt,Cart√£o de Cr√©dito,0

üõ°Ô∏è Dados que SER√ÉO PRESERVADOS (N√£o ser√£o apagados):

                                     source  qtd
0     Card: OUROCARD_ELO_NANQUIM-Abr_24.txt   52
1     Card: OUROCARD_ELO_NANQUIM-Abr_25.txt   55
2     Card: OUROCARD_ELO_NANQUIM-Ago_24.txt   43
3     Card: OUROCARD_ELO_NANQUIM-Ago_25.txt   25
4     Card: OUROCARD_ELO_NANQUIM-Dez_24.txt   42
5     Card: OUROCARD_ELO_NANQUIM-Dez_25.txt    5
6     Card: OUROCARD_ELO_NANQUIM-Fev_25.txt   50
7     Card: OUROCARD_ELO_NANQUIM-Jan_25.txt   43
8     Card: OUROCARD_ELO_NANQUIM-Jan_26.txt   12
9     Card: OUROCARD_ELO_NANQUIM-Jul_24.txt   48
10    Card: OUROCARD_ELO_NANQUIM-Jul_25.txt   43
11    Card: OUROCARD_ELO_NANQUIM-Jun_24.txt   34
12    Card: OUROCARD_ELO_NANQUIM-Jun_25.txt   46
13    Card: OUROCARD_ELO_NANQUIM-Mai_24.txt   40
14    Card: OUROCARD_ELO_NANQUIM-Mai_25.txt   73
15    Card: OUROCARD_ELO_NANQUIM-Mar_24.txt   18
16    Card: OUROCARD_ELO_NANQUIM-Mar_25.txt   34
17    Card: OUROCARD_ELO_NANQUIM-Nov_24.txt   50
18    Card: OUROCARD_ELO_NANQUIM-Nov_25.txt   13
19    Card: OUROCARD_ELO_NANQUIM-Out_24.txt   65
20    Card: OUROCARD_ELO_NANQUIM-Out_25.txt   11
21    Card: OUROCARD_ELO_NANQUIM-Set_24.txt   39
22    Card: OUROCARD_ELO_NANQUIM-Set_25.txt   20
23  Card: OUROCARD_VISA_INFINITE-Abr_25.txt  116
24  Card: OUROCARD_VISA_INFINITE-Ago_24.txt   13
25  Card: OUROCARD_VISA_INFINITE-Ago_25.txt   11
26  Card: OUROCARD_VISA_INFINITE-Dez_24.txt  170
27  Card: OUROCARD_VISA_INFINITE-Dez_25.txt   14
28  Card: OUROCARD_VISA_INFINITE-Fev_25.txt  145
29  Card: OUROCARD_VISA_INFINITE-Jan_25.txt  103
30  Card: OUROCARD_VISA_INFINITE-Jan_26.txt    9
31  Card: OUROCARD_VISA_INFINITE-Jul_24.txt    2
32  Card: OUROCARD_VISA_INFINITE-Jul_25.txt   19
33  Card: OUROCARD_VISA_INFINITE-Jun_24.txt    2
34  Card: OUROCARD_VISA_INFINITE-Jun_25.txt   11
35  Card: OUROCARD_VISA_INFINITE-Mai_25.txt   29
36  Card: OUROCARD_VISA_INFINITE-Mar_25.txt  101
37  Card: OUROCARD_VISA_INFINITE-Nov_24.txt   97
38  Card: OUROCARD_VISA_INFINITE-Nov_25.txt   12
39  Card: OUROCARD_VISA_INFINITE-Out_24.txt  136
40  Card: OUROCARD_VISA_INFINITE-Out_25.txt    7
41  Card: OUROCARD_VISA_INFINITE-Set_24.txt   13
42  Card: OUROCARD_VISA_INFINITE-Set_25.txt    8
43    Card: SMILES_INFINITE_VISA-Abr_24.txt  204
44    Card: SMILES_INFINITE_VISA-Abr_25.txt    1
45    Card: SMILES_INFINITE_VISA-Ago_24.txt  152
46    Card: SMILES_INFINITE_VISA-Dez_24.txt    2
47    Card: SMILES_INFINITE_VISA-Fev_25.txt    1
48    Card: SMILES_INFINITE_VISA-Jan_25.txt    2
49    Card: SMILES_INFINITE_VISA-Jul_24.txt  133
50    Card: SMILES_INFINITE_VISA-Jun_24.txt  169
51    Card: SMILES_INFINITE_VISA-Mai_24.txt  189
52    Card: SMILES_INFINITE_VISA-Mai_25.txt    2
53    Card: SMILES_INFINITE_VISA-Mar_24.txt  167
54    Card: SMILES_INFINITE_VISA-Mar_25.txt    1
55    Card: SMILES_INFINITE_VISA-Nov_24.txt    2
56    Card: SMILES_INFINITE_VISA-Out_24.txt    4
57    Card: SMILES_INFINITE_VISA-Set_24.txt  141

In [6]:
if not df_check.empty:
    cursor = conn.cursor()
    
    # Executa a remo√ß√£o
    cursor.execute("DELETE FROM transactions WHERE source LIKE '%CSV%'")
    conn.commit()
    
    deleted_count = cursor.rowcount
    print(f"üóëÔ∏è Sucesso! {deleted_count} registros foram removidos permanentemente.")
else:
    print("Nada para apagar.")

üóëÔ∏è Sucesso! 3100 registros foram removidos permanentemente.

In [7]:
# Prova real
remaining = pd.read_sql_query("SELECT count(*) FROM transactions WHERE source LIKE '%CSV%'", conn).iloc[0,0]

if remaining == 0:
    print("‚úÖ Limpeza confirmada: 0 registros de CSV restantes.")
    
    # Mostra o que sobrou no banco
    final_df = pd.read_sql_query("SELECT source, count(*) as qtd FROM transactions GROUP BY source", conn)
    display(final_df)
else:
    print(f"‚ö†Ô∏è Aten√ß√£o: Ainda restam {remaining} registros.")

conn.close()

‚úÖ Limpeza confirmada: 0 registros de CSV restantes.

                                     source  qtd
0     Card: OUROCARD_ELO_NANQUIM-Abr_24.txt   52
1     Card: OUROCARD_ELO_NANQUIM-Abr_25.txt   55
2     Card: OUROCARD_ELO_NANQUIM-Ago_24.txt   43
3     Card: OUROCARD_ELO_NANQUIM-Ago_25.txt   25
4     Card: OUROCARD_ELO_NANQUIM-Dez_24.txt   42
5     Card: OUROCARD_ELO_NANQUIM-Dez_25.txt    5
6     Card: OUROCARD_ELO_NANQUIM-Fev_25.txt   50
7     Card: OUROCARD_ELO_NANQUIM-Jan_25.txt   43
8     Card: OUROCARD_ELO_NANQUIM-Jan_26.txt   12
9     Card: OUROCARD_ELO_NANQUIM-Jul_24.txt   48
10    Card: OUROCARD_ELO_NANQUIM-Jul_25.txt   43
11    Card: OUROCARD_ELO_NANQUIM-Jun_24.txt   34
12    Card: OUROCARD_ELO_NANQUIM-Jun_25.txt   46
13    Card: OUROCARD_ELO_NANQUIM-Mai_24.txt   40
14    Card: OUROCARD_ELO_NANQUIM-Mai_25.txt   73
15    Card: OUROCARD_ELO_NANQUIM-Mar_24.txt   18
16    Card: OUROCARD_ELO_NANQUIM-Mar_25.txt   34
17    Card: OUROCARD_ELO_NANQUIM-Nov_24.txt   50
18    Card: OUROCARD_ELO_NANQUIM-Nov_25.txt   13
19    Card: OUROCARD_ELO_NANQUIM-Out_24.txt   65
20    Card: OUROCARD_ELO_NANQUIM-Out_25.txt   11
21    Card: OUROCARD_ELO_NANQUIM-Set_24.txt   39
22    Card: OUROCARD_ELO_NANQUIM-Set_25.txt   20
23  Card: OUROCARD_VISA_INFINITE-Abr_25.txt  116
24  Card: OUROCARD_VISA_INFINITE-Ago_24.txt   13
25  Card: OUROCARD_VISA_INFINITE-Ago_25.txt   11
26  Card: OUROCARD_VISA_INFINITE-Dez_24.txt  170
27  Card: OUROCARD_VISA_INFINITE-Dez_25.txt   14
28  Card: OUROCARD_VISA_INFINITE-Fev_25.txt  145
29  Card: OUROCARD_VISA_INFINITE-Jan_25.txt  103
30  Card: OUROCARD_VISA_INFINITE-Jan_26.txt    9
31  Card: OUROCARD_VISA_INFINITE-Jul_24.txt    2
32  Card: OUROCARD_VISA_INFINITE-Jul_25.txt   19
33  Card: OUROCARD_VISA_INFINITE-Jun_24.txt    2
34  Card: OUROCARD_VISA_INFINITE-Jun_25.txt   11
35  Card: OUROCARD_VISA_INFINITE-Mai_25.txt   29
36  Card: OUROCARD_VISA_INFINITE-Mar_25.txt  101
37  Card: OUROCARD_VISA_INFINITE-Nov_24.txt   97
38  Card: OUROCARD_VISA_INFINITE-Nov_25.txt   12
39  Card: OUROCARD_VISA_INFINITE-Out_24.txt  136
40  Card: OUROCARD_VISA_INFINITE-Out_25.txt    7
41  Card: OUROCARD_VISA_INFINITE-Set_24.txt   13
42  Card: OUROCARD_VISA_INFINITE-Set_25.txt    8
43    Card: SMILES_INFINITE_VISA-Abr_24.txt  204
44    Card: SMILES_INFINITE_VISA-Abr_25.txt    1
45    Card: SMILES_INFINITE_VISA-Ago_24.txt  152
46    Card: SMILES_INFINITE_VISA-Dez_24.txt    2
47    Card: SMILES_INFINITE_VISA-Fev_25.txt    1
48    Card: SMILES_INFINITE_VISA-Jan_25.txt    2
49    Card: SMILES_INFINITE_VISA-Jul_24.txt  133
50    Card: SMILES_INFINITE_VISA-Jun_24.txt  169
51    Card: SMILES_INFINITE_VISA-Mai_24.txt  189
52    Card: SMILES_INFINITE_VISA-Mai_25.txt    2
53    Card: SMILES_INFINITE_VISA-Mar_24.txt  167
54    Card: SMILES_INFINITE_VISA-Mar_25.txt    1
55    Card: SMILES_INFINITE_VISA-Nov_24.txt    2
56    Card: SMILES_INFINITE_VISA-Out_24.txt    4
57    Card: SMILES_INFINITE_VISA-Set_24.txt  141

In [1]:
### CONSULTAR CONTE√öDO DO BANCO DE DADOS ###
import sqlite3
import pandas as pd
from pathlib import Path

# Configura√ß√£o do Caminho (O mesmo que configuramos no sistema)
db_path = Path(r"G:\Meu Drive\4. Registros\Glaydson\Or√ßamento\db\finance_abs.db")

if not db_path.exists():
    print(f"‚ùå Banco n√£o encontrado em: {db_path}")
    print("Verifique se o Google Drive est√° conectado.")
else:
    conn = sqlite3.connect(db_path)
    print(f"‚úÖ Conectado com sucesso!")

    # 1. Vis√£o Geral (√öltimos registros inseridos)
    print("\n--- üîç √öltimas 10 Transa√ß√µes Inseridas ---")
    query_recent = "SELECT date, description, amount, source, category FROM transactions ORDER BY date DESC LIMIT 10"
    df_recent = pd.read_sql_query(query_recent, conn)
    display(df_recent)

‚úÖ Conectado com sucesso!

--- üîç √öltimas 10 Transa√ß√µes Inseridas ---

,date,description,amount,source,category
0,2025-12-29,LIVRARIA BOOK PARC 01/12 SAO PAULO BR,-70.12,Card: OUROCARD_ELO_NANQUIM-Jan_26.txt,Cart√£o de Cr√©dito
1,2025-12-23,FF BISCOITOS CASEIROS BRASILIA BR,-37.00,Card: OUROCARD_VISA_INFINITE-Jan_26.txt,Cart√£o de Cr√©dito
2,2025-12-21,ESTAC SHOPPING BRASILIA BR,-25.00,Card: OUROCARD_VISA_INFINITE-Jan_26.txt,Cart√£o de Cr√©dito
3,2025-12-18,GAZETA DO PO*Gaze CURITIBA BR,-1.90,Card: OUROCARD_VISA_INFINITE-Jan_26.txt,Cart√£o de Cr√©dito
4,2025-12-17,BRASIL TEMPER BRASILIA BR,-243.60,Card: OUROCARD_ELO_NANQUIM-Jan_26.txt,Cart√£o de Cr√©dito
5,2025-12-17,CASA FESTA PARC 01/02 BRASILIA BR,-144.60,Card: OUROCARD_ELO_NANQUIM-Jan_26.txt,Cart√£o de Cr√©dito
6,2025-12-14,EVOLVEAGUASCLARAS BRASILIA BR,-119.90,Card: OUROCARD_VISA_INFINITE-Jan_26.txt,Cart√£o de Cr√©dito
7,2025-12-13,ACADEMIA VASCO NETO BRASILIA BR,-269.00,Card: OUROCARD_ELO_NANQUIM-Jan_26.txt,Cart√£o de Cr√©dito
8,2025-12-12,Google Play Books SAO PAULO BR,-0.99,Card: OUROCARD_VISA_INFINITE-Jan_26.txt,Cart√£o de Cr√©dito
9,2025-12-11,AMAZONMKTPLC JACKELINE SAO PAULO BR,-186.03,Card: OUROCARD_ELO_NANQUIM-Jan_26.txt,Cart√£o de Cr√©dito

In [ ]:
### EXCLUIR CONTE√öDOS ESPEC√çFICOS DO BANCO DE DADOS ###

import sqlite3
import pandas as pd
from pathlib import Path

# --- CONFIGURA√á√ÉO ---
# Digite aqui o que voc√™ quer procurar para apagar
TERMO_BUSCA = input("Qual termo devo procurar para selecionar as linhas a serem exclu√≠das? ")

# Caminho do banco
db_path = Path(r"G:\Meu Drive\4. Registros\Glaydson\Or√ßamento\db\finance_abs.db")

if not db_path.exists():
    print("‚ùå Banco n√£o encontrado. Verifique o caminho.")
else:
    conn = sqlite3.connect(db_path)
    
    # Busca em DESCRI√á√ÉO ou FONTE (Source)
    # O comando LIKE '%...%' procura o texto em qualquer parte da frase
    query = f"""
        SELECT * FROM transactions 
        WHERE description LIKE '%{TERMO_BUSCA}%' 
           OR source LIKE '%{TERMO_BUSCA}%'
    """
    
    df_to_delete = pd.read_sql_query(query, conn)
    
    print(f"üîé Procurando por: '{TERMO_BUSCA}'")
    print(f"üìâ Registros encontrados para exclus√£o: {len(df_to_delete)}")
    
    if not df_to_delete.empty:
        print("\nAmostra do que ser√° apagado:")
        display(df_to_delete.head())
    else:
        print("Nenhum registro encontrado com esse termo.")

In [ ]:
a = input("Deseja realmente apagar esses registros? (s/n): ")

print(a)